 .heading{

    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: rgb(0, 119, 119);
    padding: 10px;
    color: white;
}
.dragable, .resizable, .selectable, .autocomplete, .accordian{

    padding: 0 0 50px;
}
#draggable, #draggable1, #draggable2, #draggable3, #draggable4, #draggable5, #draggable6, #draggable7 {

    width: 200px;
    height: 200px;
    padding: 0.5em; 
    float: left; 
    margin: 0 10px 10px 0; 
}


#draggable4 p { cursor: move; }

#droppable {
    width: 400px;
    height: 200px;
    padding: 0.5em;
    float: left;
    margin: ; 
}

#resizable, #resizable1, #resizable3  {
    width: 200px;
    height: 200px;
    padding: 0.5em; 
}
#resizable, #resizable1 h3 {
    text-align: center;
    margin: 0;
}

#containment {
     width: 300px; height: 300px; 
}
#container h3 {
        margin: 0;
        text-align: center;
        margin-bottom: 10px; 
    }
  #resizable2 {
        background-position: top left;
        width: 150px;
        height: 150px; 
    }
  #resizable2, #containment {
     padding: 0.5em; }

     /* helper */
     .ui-resizable-helper { border: 2px dotted #00F; }

/* selectable */

#feedback {
    
    font-size: 1.4em; 
}
#selectable .ui-selecting {
    
    background: #FECA40; 
}
#selectable .ui-selected {
    
    background: #F39814;
    color: white; 
}
#selectable {
    align-items: center;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 60%; 
}
#selectable li {
    
    margin: 3px; 
    padding: 5px; 
    font-size: 1.4em; 
    height: 50px;
}


    #selectable1 .ui-selecting {

        background: #FECA40; 
    }
    #selectable1 .ui-selected {

        background: #F39814;
        color: white; 
    }

 
     #selectable1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 450px; 
    }
    #selectable1 li {
        margin: 3px;
        padding: 1px;
        float: left;
        width: 100px;
        height: 100px;
        font-size: 4em;
        text-align: center; 
    }

/* sortable */
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%; 
    }
    #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 70px; 
        background-color: #F39814;
        color: white;
    }
    #sortable li span {
        position: absolute;
        margin-left: -1.3em; 
    }

    /* effects start */

    .toggler {
        width: 500px;
        height: 200px;
        position: relative; 
    }
    #button {
         padding: .5em 1em;
         text-decoration: none; 
         width: 100;
    }
    #effect {
        height: 180px;
        width: 530px;
        padding: 1em;
        border: 1px solid #000;
        background: #eee;
        color: #333; 
    }
    .newClass {
         text-indent: 40px;
         letter-spacing: .4em;
         width: 410px;
         height: 120px;
         padding: 30px;
         margin: 10px;
         font-size: 1.1em; 
        }

    /* animation */

    .toggler1 {
        
        width: 500px;
        height: 200px;
        position: relative; 
    
    }
    #button1 {
        
        padding: .5em 1em;
        text-decoration: none; 
    
    }
    #effect1 {
        
        width: 400px;
        height: 180px;
        padding: 0.4em;
        position: relative;
        background: #fff; 
    
    }
    #effect1 h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center; 
    }

    /* Select Menu */

    fieldset {
        border: 0;
        margin-left: 300px;
    }
    label {
        display: block;
        margin: 20px 0 0 0;
    }
   
    #circle {
        float: left;
        background: yellow;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    /* effects end */
